<!-- INCLUDE ucp_header.html -->
<script language="Javascript" type="text/javascript">
var publicKey = '';

function read_public_key() {
  var pgp_public_key = document.getElementById('pgp_key').value;
  publicKey = window.openpgp.key.readArmored(pgp_public_key).keys[0];
  if (typeof publicKey === 'undefined') {
    document.getElementById("fp").value = "N/A";
    document.getElementById("key_user").value = "N/A";
    document.getElementById("key_type").value = "N/A";
    document.getElementById("fingerprint").value = "";
    return;
  }
  if (publicKey.isPrivate()) {
    document.getElementById('pgp_key').value = publicKey.toPublic().armor();
  }
  var fingerprint = publicKey.primaryKey.getFingerprint();
  fingerprint = fingerprint.toUpperCase();
  document.getElementById("fp").value = fingerprint;
  document.getElementById("fingerprint").value = fingerprint;

  var key_user = publicKey.users[0].userId.userid;
  document.getElementById("key_user").value = key_user;

  var key_type = publicKey.primaryKey.algorithm;
  document.getElementById("key_type").value = (key_type.includes('rsa')) ? 'RSA' : 'ElGamal';
}
</script>
<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>

<h2>{L_TITLE}</h2>

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
	<p>{L_PROFILE_PGP_NOTICE}</p>

<fieldset>
	<!-- IF ERROR --><p class="error">{ERROR}</p><!-- ENDIF -->
	<dl>
		<dt><label for="pgp_key">{L_PUBLIC_PGP_KEY}:</label></dt>
		<dd><textarea name="pgp_key" id="pgp_key" class="inputbox" rows="3" cols="80" oninput="read_public_key();">{PGP_KEY_BLOCK}</textarea></dd>
	</dl>
	<dl>
		<dt><label for="fingerprint">{L_PGP_FINGERPRINT}:</label></dt>
		<dd><input size=40 id="fp" name="fp" value="{PGP_FINGERPRINT}" readonly><input type="hidden" name="fingerprint" id="fingerprint" value="{PGP_FINGERPRINT}"/></dd>
	</dl>
	<dl>
		<dt><label for="key_user">{L_KEY_USER}:</label></dt>
		<dd><input size=40 id="key_user" name="key_user" value="{KEY_USER}" readonly></dd>
	</dl>
	<dl>
		<dt><label for="key_type">{L_KEY_TYPE}:</label></dt>
		<dd><input size=40 id="key_type" name="key_type" value="{KEY_TYPE}" readonly></dd>
	</dl>
</fieldset>

	<span class="corners-bottom"><span></span></span></div>
</div>

<fieldset class="submit-buttons">
	{S_HIDDEN_FIELDS}<input type="reset" value="{L_RESET}" name="reset" class="button2" />&nbsp; 
	<input type="submit" name="submit" value="{L_SUBMIT}" class="button1" />
	{S_FORM_TOKEN}
</fieldset>
</form>

<!-- INCLUDE ucp_footer.html -->
